* {
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#breathing {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    transition: all 600ms linear;
}

/* #box {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

#shape {
    position: absolute;
}

p {
    background-color: rgb(105, 21, 2);
    color: antiquewhite;
    width: 20vw;
    height: 100vh;
} */

