body {
    padding-left: 10%;
    background-color: #042f24;
    color: #edb99b;
}

/* 
Color Pallette
Pink: 822B66

Orange----
Light: #edb99b; Default: #AA6339

Turquoise---
Default: #256F5C Dark #042f24

Green: 83A136
*/