body {
    background-color: #005599;
    color: #efabef;
}

.parent {
    background-color: blueviolet;
    font-size: 300px;
    display: inline-table;
}

#one {
    background-color: black;
    display: inline-block;
}

#two {
    background-color: darkcyan;
    display: initial;
}

#three {
    background-color: darkslategrey;
    display: initial;
}
/*
Play with Position- absolute, sticky
stretch goal:
elements
absolute position w/in relative
relative position w/in absolute
next time-work on background images etc
*/