body {
    background-color: #005599;
    color: #efabef;
    display: flex;
    flex-direction: center;
    align-items: center;
    font-size: 120px;

}

table {
    background-color: black;
    border-color: aliceblue;
}

thead {
    font-size: larger;
}

td, th, tr{
    padding: 10px 40px 10px 40px;
    border: 10px;
    margin: 10px;
}
/* nth-child, td-firstchild, */

tr:last-child {
    background-color: aqua;
}

tr:hover{
    background-color: grey;
}

td {
    border: groove 5px aliceblue;
}

#headings > * {
    text-transform: uppercase;
}