header {
    font-size: 100px;
    text-align: center;
}

body {
    background-color: #073d34;
    color: #9c7ea7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#albumCovers {
    display:flex;
    justify-content: space-around;
}

#albumCovers > img {
    width: 8%;
    height: 8%;
}

#tagline {
    font-size: 40px;
}

.songOptions {
    width: 1000px;
    margin: auto;
    text-align: center;
}

#songA, #songB {
    color: #310940;
}

.songOptions > button {
    padding-right: 25%;
    padding-left: 25%;
    border-radius: 10px;
    background-color: #AC9349;
    font-size: 45px;
    font-weight: bold;
}

.altChoices {
    text-align: center;
    padding: 16px;
}

/*
Primary goal:
Box model, how to utilize it inside Dev tools
Look at all basic tags and their default display properties
Colors- use hex codes, and their rgba
Stretch goal:
Build a footer for Song Sorter footer that stays in place
*/

/*
Color Palette:
Yellow--
---Light: FBEBBB; DarkLight: D0BA79; Medium: AC9349; LightDark: 8C8329; Dark: 604B0A;

Purple--
---Light: 9c7ea7; DarkLight: 7b538a; Medium: 613372; LightDark: 4C1E5D; Dark: 310940;

Greene--
---Light: 779498; DarkLight: 4D847b; Medium: 2e6d62; LightDark: 1a594e; Dark: 073d34;
*/