header {
    font-size: 100%;
    text-align: center;
}

html, body {
    background-color: #3f3002;
    color: #9c7ea7;
    min-height:  100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: unset;
}

#albumCovers {
    display:flex;
    justify-content: space-around;
}

#albumCovers > img {
    width: 8%;
    height: 8%;
}

#tagline {
    font-size: 40px;
}

.songOptions {
    width: 1000px;
    margin: auto;
    text-align: center;
}

#songA, #songB {
    color: #073d34;
}

.songOptions > button {
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 10px;
    background-color: #9c7ea7;
    font-size: 45px;
    font-weight: bold;
}

.altChoices {
    text-align: center;
    padding: 16px;
}

#results {
    color: #073d34;
    font-size: larger;
}

table, #results {
    background-color: #073d34;
    color: #FBEBBB;
    font-size: larger;
    border-style:double;
    border-color: #9c7ea7;
    border-width: 5px;
}

.debugInfo {
    color: #073d34;
    font-size: medium;
}

.footer {
    background-color: #9c7ea7;
    color: #073d34;
    /* position: absolute; */
    margin-top: auto;
    padding: 1%;
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

/*
look up rule spacing definitions/ usages
Primary goal:
Look up inherit, initiial, unset,  normal, revert and implement them
Box model, how to utilize it inside Dev tools
Look at all basic tags and their default display properties
Stretch goal:
Create a table using all the core table tags like <thead>, <tbody>, <th>, <tr> and <td>. You can put whatever data you would like in it. Learn how to construct tables and why the tags go where and then style it however you want. Have fun with it! Colors, borders, font styles, etc.

*/

/*
Color Palette:
Yellow--
---Light: FBEBBB; DarkLight: D0BA79; Medium: AC9349; LightDark: 8C8329; Dark: 604B0A;

Purple--073d34
---Light: 9c7ea7; DarkLight: 7b538a; Medium: 613372; LightDark: 4C1E5D; Dark: 310940;

Greene--
---Light: 779498; DarkLight: 4D847b; Medium: 2e6d62; LightDark: 1a594e; Dark: ;
*/